input {
  border: 0;
  padding: 0 $m;
}

.input-group {
  display: flex;
  margin-bottom: $s;

  .input-group-element:first-child {
    border-radius: 25px 0 0 25px;
  }

  button {
    border-radius: 0px;
    border-right: $light-color 2px solid;
  }

  button:nth-of-type(2) {

    border-radius: 0 25px 25px 0;
    border-right: 0px;

  }

  .input-grow {
    flex-grow: 1;
  }
}
