.icon-editor {
  background-color: $modal-background-color;
  display: flex;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-index-100;

  &-card {
    background-color: white;
    border-radius: $s;
    left: 50%;
    max-width: 1000px;
    padding-bottom: 20px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  h2 {
    margin: $l;
  }

  .icon-editor-content {
    padding: $s $xxl $xxl $xxl;
  }

  .icon-editor-btn {
    color: $light-color;
    font-weight: bold;
    padding: 16px;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &-cancel {
      background-color: #b8bece;
      border-radius: 0px 0px 0px 7px;
    }

    &-accept {
      background-color: #eb796f;
      border-radius: 0px 0px 7px 0px;
    }
  }

  .close {
    opacity: 0.3;
    position: absolute;
    right: $xxl;
    top: $m;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &:before,
    &:after {
      background-color: #333;
      content: ' ';
      height: $m;
      left: $m;
      position: absolute;
      width: $xs;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  .icon-div {
    margin-left: 150px;
    right: 20px;
  }

  .icon-preview {
    border-radius: $s;
    box-shadow: 2px 4px 8px rgba($color: $dark-color, $alpha: 0.3);
    padding: $xl;

    i {
      font-size: $editor-icon-size;
    }

  }

  .export-btn {
    button {
      bottom: 20px;
      position: fixed;
      right: 15px;
    }
  }

  .btn-loading-icon {
    margin-left: $s;
    vertical-align: middle;
    width: $l;
  }

  .transform-div {
    div {
      display: inline-block;
      margin-right: $l;
    }

    .rotate-flip-icon {
      transform: rotateZ(90deg);
    }

    button {
      background-color: $light-color;
      border: 0px;
      border-radius: $xs;
      box-shadow: 1px 2px $xs rgba($color: $dark-color, $alpha: 0.3);
      color: $dark-gray;
      margin-right: $m;

      &:hover {
        background-color: $dark-gray;
        color: $light-color;
        transition-duration: 0.2s;
      }

      &:focus {
        outline: none;
      }

      i {
        margin: $xs;
      }
    }
  }
}
  