$orange-theme: url('../../images/header.png') center, $nav-gradient;
$purple-theme: url('../../images/header.png') center, $header-gradient;

.page-header {
  align-items: center;
  color: $light-color;
  display: flex;
  justify-content: center;
  padding: $xxxl;
  text-align: center;

  &-small {
    height: 10vh;
  }

  &-medium {
    height: 30vh;
  }

  &-orange {
    background: $orange-theme;
  }

  &-purple {
    background: $purple-theme;
  }
}
